.about-us-content {
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 80px 20px;
    text-align: center;
}

.about-us-content h2 {
    font-size: 3rem;
    color: #2e7d32;
    margin-bottom: 40px;
}

/* New container around team-cards */
.team-cards-container {
    width: 85%;
    margin: 0 auto;
    
}

.team-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.card {
    /* background-color: #ffffff; */
    background-color: #f0f9f4;
    width: 23%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card .team-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #2e7d32;
}

.card h3 {
    color: #2e7d32;
    font-size: 1.5rem;
    margin-top: 10px;
}

.card p {
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}

.nav-logo {
  height: 52px;
  width: 52px;         /* Make it square */
  object-fit: cover;   /* Ensures image fits inside the circle */
  border-radius: 50%;  /* Makes it circular */
  display: block;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #e4e7e5;
  color: rgb(100, 99, 99);
  padding: 20px 10px;
  text-align: center;
  margin-top: 0px;
  /* border-top: 2px solid #3f6442; */
  box-shadow: 0 -4px 10px rgba(164, 164, 164, 0.1);
  
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}


.footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer p {
  margin: 6px 0;
  font-size: 1rem;
}